<mat-tab-group>
  <mat-tab label="Gastos Gerais">
    <table mat-table [dataSource]="table1Data" class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="origem">
        <th mat-header-cell *matHeaderCellDef> Origem </th>
        <td mat-cell *matCellDef="let element"> {{element.origem}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef> Categoria </th>
        <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef> Valor Gasto </th>
        <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="nome_mes">
        <th mat-header-cell *matHeaderCellDef> Mês </th>
        <td mat-cell *matCellDef="let element"> {{element.nome_mes}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="table1Columns"></tr>
      <tr mat-row *matRowDef="let row; columns: table1Columns;"></tr>
    </table>
  </mat-tab>

  <mat-tab label="Gastos por Mês">
    <table mat-table [dataSource]="table2Data" class="mat-elevation-z8">

      <!-- Symbol Column -->
      <ng-container matColumnDef="nome_mes">
        <th mat-header-cell *matHeaderCellDef> Mês </th>
        <td mat-cell *matCellDef="let element"> {{element.nome_mes}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="total_gasto">
        <th mat-header-cell *matHeaderCellDef> Total Gasto </th>
        <td mat-cell *matCellDef="let element"> {{element.total_gasto}} </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="table2Columns"></tr>
      <tr mat-row *matRowDef="let row; columns: table2Columns;"></tr>
    </table>
  </mat-tab>

</mat-tab-group>
